{
	# =================================
	# Plugin Configuration
	# This is where we configure the different plugins that are loaded with DocPad
	# To configure a plugin, specify it's name, and then the options you want to configure it with

	plugins:

		# Configure the Feedr Plugin
		# The Feedr Plugin will pull in remote feeds specified here and make their contents available to our templates
		feedr:
			# These are the feeds that Feedr will pull in
			feeds:
				# DocPad's Old Github Stream
				# Included here as an example
				github:
					url: "https://github.com/bevry/docpad/commits/4.x.atom"

		# Coffee
		coffee:
			coffeekup:
				format: true
}